{% extends 'base.html.twig' %}

{% block title %}Hello PlaylistController!{% endblock %}

{% block body %}

    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
{#        <button type="submit">Upload</button>#}
        {{ form_end(form) }}
{#        {{ asset('dropzone', '@symfony/ux-dropzone') }}#}
    </div>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

{% endblock %}
