{% extends 'base.html.twig' %}

{% block title %}Hello PlaylistController!{% endblock %}

{% block body %}

{#    {{ dump(playlist.createdAt | date('Y-m-d')) }}#}

{#    {{ stimulus_controller('playlist') }}#}
    <section class="air-bread">
        <div class="air-bread__left">{{ playlistTitle }}</div>
        <div class="air-bread__right">

            {% if isPlaylistOwner %}
                <button title="Удалить"
                        class="air-bread__item air-bread__desc air-bread__delete"
                        data-controller="playlist"
                        data-action="click->playlist#deletePlaylist"
                        data-url="{{ path('api_playlist_delete', { playlistId: playlist.uuid }) }}"
                >
                    <img src="{{ asset('img/delete.png') }}" alt="" class="air-bread__ic">
                    <span>Удалить</span>
                </button>
            {% endif %}

            <button title="Поделиться" class="air-bread__item air-bread__share">
                <img src="{{ asset('img/share.png') }}" alt="" class="air-bread__ic">
                <span>Поделиться</span>
            </button>

            <a href="{{ path('api_playlist_download_videos', { playlistId: playlist.uuid }) }}" title="Скачать все" class="air-bread__item air-bread__download">
                <img src="{{ asset('img/download-green.png') }}" alt="" class="air-bread__ic">
                <span>Скачать все</span>
            </a>

            <button title="Информация" class="air-bread__item air-bread__mob air-bread__info">
                <span>Информация</span>
            </button>
        </div>
    </section>

    <section class="air-section air-section__archive">

        <div class="air-section__block">
            <div class="air-section__size">
                {{ playlist.createdAt | date('Y-m-d') }} | {{ playlist.videos.count }} файла | {{ allVideosSize }} MB | {{ playlist.pageViewed }} просмотров страницы
            </div>

            <div class="air-section__red">
                Будет удалено {{ playlist.createdAt | date('Y-m-d H:i:s') }}
            </div>

        </div>

        <div class="air-section__files air-section__archive-block">
            {% for video in videos %}
                <div class="air-files__item">
                    <a href="{{ path('api_playlist_download_videos', { videoId: video.uuid, playlistId: playlist.uuid }) }}" class="air-item__icon" title="скачать файл">
                        <img src="{{ asset('img/download-icon.png') }}" alt="">
                    </a>
                    <a href="#" class="air-files__link">
                        <img src="{{ asset('img/play.png') }}" alt="" class="air-item__img-play">
                        <img src="{{ asset('img/item-1.png') }}" alt="" class="air-item__image">
                        <h3 class="air-item__title">Trailer_volk_s_w-s.mp4</h3>
                    </a>
                </div>
            {% endfor %}
        </div>

    </section>

    <footer class="air-section air-section__no-padding">
        <p class="air-section__description air-section__no-margin">
            FILES.DAVINCI.PM - бесплатный сервис мгновенного обмена видео.
            Без регистрации, скорость загрузки и скачивания не ограничена.
        </p>
    </footer>

{% endblock %}
