{% extends 'base.html.twig' %}

{% block title %}Video{% endblock %}

{% block body %}
    <section class="air-bread">

        <div class="air-bread__left">
            <div class="air-bread__counter">
                <div class="air-bread__count-left">
                    <span class="air-bread__count">1</span>
                    /
                    <span>{{ videos|length }}</span>
                </div>

                <div class="air-bread__count-right">
                    {{ videos.0.name }}
                </div>

            </div>
        </div>

        <div class="air-bread__right">

            {% if isPlaylistOwner %}
                <button title="Удалить"
                        class="air-bread__item air-bread__desc air-bread__delete"
                        data-controller="playlist"
                        data-action="click->playlist#deletePlaylist"
                        data-url="{{ path('api_playlist_delete', { playlistId: playlist.uuid }) }}"
                >
                    <img src="{{ asset('img/delete.png') }}" alt="" class="air-bread__ic">
                    <span>Удалить</span>
                </button>
            {% endif %}

            <button title="Поделиться" class="air-bread__item air-bread__share">
                <img src="{{ asset('img/share.png') }}" alt="" class="air-bread__ic">
                <span>Поделиться</span>
            </button>

            <a href="{{ path('api_playlist_download_videos', { playlistId: playlist.uuid }) }}" title="Скачать все" class="air-bread__item air-bread__download">
                <img src="{{ asset('img/download-green.png') }}" alt="" class="air-bread__ic">
                <span>Скачать все</span>
            </a>

            <button title="Информация" class="air-bread__item air-bread__mob air-bread__info">
                <span>Информация</span>
            </button>

        </div>
    </section>

    <section class="air-cart">
        <div class="air-cart__left">

            <div class="glide" id="slider-single">
                <div class="air-cart__container">
                    <div class="glide__track air__track" data-glide-el="track">
                        <ul class="glide__slides">
                            {% for video in videos %}
                                <li class="glide__slide air__slide"
                                    data-title="{{ video.name }}"
                                    data-link="{{ app_url ~ video.linkForDownloading  }}"
                                    data-day="{{ video.deletionDate }}"
                                    data-size="{{ video.size }}"
                                    data-views="{{ video.views }}"
                                    data-downloads="{{ video.downloads }}"
                                >
                                    <div class="air-video-container">
                                        <video class="air-video-player"
                                               controls width="320"
                                               height="240"
                                               poster="{{ video.posterUrl }}"
                                        >
                                            <source src="{{ video.videoUrl }}" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                        <div class="air-play-button">
                                            <img src="{{ asset('img/play.png') }}" alt="Play button">
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div data-glide-el="controls" class="air-controls">
                        <button data-glide-dir="<" class="air-controls__left">
                            <img src="{{ asset('img/arrow-left.png') }}" alt="">
                        </button>
                        <button data-glide-dir=">" class="air-controls__right">
                            <img src="{{ asset('img/arrow-right.png') }}" alt="">
                        </button>
                    </div>

                </div>
                <div class="glide__bullets air__arrows-bullets" data-glide-el="controls[nav]">
                    {% for video in videos %}
                    <div class="glide__bullet air__arrows-bullet" data-glide-dir="={{ loop.index }}">
                        <img src="{{ video.posterUrl }}" alt="Альт миниатюры"/>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>

        <div class="air-cart__right">
            <div class="air-mobile-close">
                <img src="{{ asset('img/close.png') }}" alt=""/>
            </div>

            <h2 class="air-cart__right-h2">Информация</h2>
            <hr>

            <div class="air-cart__right-file">
                <div class="air-cart__right-file-icon">
                    <img src="{{ asset('img/video-single-icon.png') }}" alt="" class="air-download-link__icon">
                </div>

                <div class="air-cart__right-file-title">{{ videos.0.name }}</div>
            </div>

            <hr>

            <h3 class="air-cart__right-h3">Доступ</h3>

            <div class="air-cart__right-copy" style="grid-template-columns: 1fr auto 1fr">
                <div class="air-cart__right-copy-icon">
                    <img src="{{ asset('img/сopy-icon.png') }}" alt="ссылка для скачивания" class="air-download-link__icon">
                </div>

                <div class="air-download-link__url air-cart__right-copy-title" >{{ app_url ~ videos.0.linkForDownloading }}</div>
                <div class="air-download-link__copy">Скопировать</div>

            </div>

            <hr>

            <h3 class="air-cart__right-h3">Метаданные</h3>

            <ul class="air-cart__right-ul">
                <li class="air-cart__right-li">
                    <span>Будет удален:</span>
                    <span class="air-cart__right-li-data">{{ videos.0.deletionDate }}</span>
                </li>

                <li class="air-cart__right-li">
                    <span>Размер:</span>
                    <span class="air-cart__right-li-size">{{ videos.0.size }}</span>
                </li>

                <li class="air-cart__right-li">
                    <span>Просмотров:</span>
                    <span class="air-cart__right-li-views">{{ videos.0.views }}</span>
                </li>

                <li class="air-cart__right-li">
                    <span>Загрузки:</span>
                    <span class="air-cart__right-li-download">{{ videos.0.downloads }}</span>
                </li>
            </ul>
        </div>

    </section>

    <footer class="air-section air-section__no-padding">
    {# TODO: Вынести в языки #}
        <p class="air-section__description air-section__no-margin">
            FILES.DAVINCI.PM - бесплатный сервис мгновенного обмена видео.
            Без регистрации, скорость загрузки и скачивания не ограничена.
        </p>
    </footer>

    <script src="{{ asset('js/glide.js') }}"></script>
    <script>
        var animationTimeout;

        function typeText(textElement, text) {
            var index = 0;
            var htmlText = '';

            function animate() {
                if (index < text.length) {
                    htmlText += text.charAt(index);
                    textElement.innerHTML = htmlText;
                    index++;
                    animationTimeout = setTimeout(animate, 13);
                }
            }

            animate();
        }

        var element_glide = document.getElementById('slider-single');

        if (element_glide) {

            var countRight = document.querySelector('.air-bread__count-right');
            var fileTitle = document.querySelector('.air-cart__right-file-title');
            var copyTitle = document.querySelector('.air-cart__right-copy-title');
            var liData = document.querySelector('.air-cart__right-li-data');
            var liSize = document.querySelector('.air-cart__right-li-size');
            var liViews = document.querySelector('.air-cart__right-li-views');
            var liDownload = document.querySelector('.air-cart__right-li-download');

            var element_gl = new Glide('#slider-single', {

                type: 'slider',
                perView: 1,
                autoplay: false,
                hoverpause: true,
                animationTimingFunc: 'cubic-bezier(0.165, 0.840, 0.440, 1.000)',
                animationDuration: 400,
                arrows: false,
                gap: 0
            });

            element_gl.mount();

            element_gl.on(['run.after'], function () {
                var currentSlide = element_gl.index;
                // находим элемент с классом "air-bread__count" и устанавливаем номер текущего слайда
                var counterElement = document.querySelector('.air-bread__count');
                if(counterElement) {
                    counterElement.textContent = currentSlide + 1; // +1 т.к. индексация слайдов с 0
                }

                setTimeout(function() {
                    var activeSlide = document.querySelector('.glide__slide--active');

                    if(activeSlide) {
                        var title = activeSlide.getAttribute('data-title');
                        var link = activeSlide.getAttribute('data-link');

                        var day = activeSlide.getAttribute('data-day');
                        var size = activeSlide.getAttribute('data-size');
                        var views = activeSlide.getAttribute('data-views');
                        var downloads = activeSlide.getAttribute('data-downloads');

                        console.log(copyTitle);
                        copyTitle.setAttribute('href', link);

                        typeText(countRight, title);
                        typeText(fileTitle, title);

                        typeText(copyTitle, link);
                        typeText(liData, day);
                        typeText(liSize, size);
                        typeText(liViews, views);
                        typeText(liDownload, downloads);
                    }
                }, 100);

            });

        }

    </script>
    </body>
{% endblock %}
